<h1>Listing poms</h1>

<table>
  <tr>
    <th>Start time</th>
    <th>Success</th>
    <th>User</th>
    <th>Project</th>
    <th>Description</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @poms.each do |pom| %>
  <tr>
    <td><%= pom.datetime %></td>
    <td><%= pom.success %></td>
    <td><%= pom.user_id %></td>
    <td><%= pom.project_id %></td>
    <td><%= pom.description %></td>
    <td><%= pom.value %></td>
    <td><%= link_to 'Show', pom %></td>
    <td><%= link_to 'Edit', edit_pom_path(pom) %></td>
    <td><%= link_to 'Destroy', pom, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New pom', new_pom_path %>
