- title "Task: #{@task.name}"

- content_for :actions do
  = link_to 'Start Pomodoro', new_pom_path(:task => @task.id)
  = link_to 'Edit', edit_task_path


= render 'form'


%hr

- @task.poms.each do |pom|
  = pom.datetime
  %br