<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :group_id %><br />
    <%= select :project, :group_id, Group.all.collect {|p| [ p.name, p.id ] }, {:include_blank => true} %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :color %><br />
    <%= f.text_field :color, { :class => 'color_picker' } %>
  </div>
  <div class="field">
    <%= f.label :total_pom_estimate, "Estimated Poms to complete" %><br />
    <%= f.text_field :total_pom_estimate %>
  </div>
  <div class="field">
    <%= f.label :priority %><br />
    <%= select :project, :priority, Project.priorities %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
