- title "Your Projects"
  
%nav
  = link_to 'New Project', new_project_path
  
%table
  %tr
    %th Name
    %th Context
    %th Poms
    %th % Complete
    %th Priority
  - @projects.each do |project|
    %tr
      %td= link_to project.name, project
      %td= project.context.name if project.context
      %td= project.pom_count
      %td= project.percent_complete_estimate
      %td= project.priority

