<h1>Listing projects</h1>

<table>
  <tr>
    <th>Name</th>
    <th>User</th>
    <th>Group</th>
    <th>Session count</th>
    <th>Description</th>
    <th>Color</th>
    <th>Total sessions estimate</th>
    <th>Priority</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.name %></td>
    <td><%= project.user_id %></td>
    <td><%= project.group_id %></td>
    <td><%= project.session_count %></td>
    <td><%= project.description %></td>
    <td><%= project.color %></td>
    <td><%= project.total_sessions_estimate %></td>
    <td><%= project.priority %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
