<h1>Your Projects</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Group</th>
    <th>Poms</th>
    <th>% Complete</th>
    <th>Priority</th> 
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= link_to project.name, project %></td>
    <td><%= project.group.name if project.group %></td>
    <td><%= project.pom_count %></td>
    <td><%= project.percent_complete_estimate %></td>
    <td><%= project.priority %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
