- title @project.name

- content_for :actions do
  = link_to 'Edit', edit_project_path


%p
  %b Context:
  = @project.context.name if @project.context
  
%p
  %b Description:
  = @project.description
%p
  %b Color:
  = @project.color
%p
  %b Total pom estimate:
  = @project.total_pom_estimate
%p
  %b Priority:
  = @project.priority
