- title @project.name
  
%nav
  = link_to 'Edit', edit_project_path(@project)


%p
  %b Context:
  = @project.context.name if @project.context
%p
  %b Pom count:
  = @project.pom_count
%p
  %b Description:
  = @project.description
%p
  %b Color:
  = @project.color
%p
  %b Total pom estimate:
  = @project.total_pom_estimate
%p
  %b Priority:
  = @project.priority
