<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Group:</b>
  <%= @project.group.name if @project.group %>
</p>

<p>
  <b>Pom count:</b>
  <%= @project.pom_count %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Color:</b>
  <%= @project.color %>
</p>

<p>
  <b>Total pom estimate:</b>
  <%= @project.total_pom_estimate %>
</p>

<p>
  <b>Priority:</b>
  <%= @project.priority %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
