<%= form_for(@pom) do |f| %>
  <% if @pom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pom.errors.count, "error") %> prohibited this session from being saved:</h2>

      <ul>
      <% @pom.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :datetime %><br />
    <%= f.datetime_select :datetime %>
  </div>
  <div class="field">
    <%= f.label :project_id %><br />
    <%= select :pom, :project_id, current_user.projects.all.collect {|p| [ p.name, p.id ] } %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
