!!! 5
%html
  %head
    %title
      = yield :title
    
    = stylesheet_link_tag '/javascripts/fullcalendar/fullcalendar', 'application'
    %link{ :rel => "shortcut icon", :href => '/images/favicon.png' }
    %link{ :rel => "apple-touch-icon", :href => '/images/favicon.png' }
    //%link{ :media => "screen", :rel => "stylesheet", :type => "text/css", :href => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.0/themes/smoothness/jquery-ui.css" }
    
    %script{ :type => "text/javascript", :src => "https://www.google.com/jsapi?key=ABQIAAAALFcVECtS_cckPZPP6gEvtBQNqA7PXSQWBnZcv0WRsLc5vt2EwhRNL4XDqi3F3gVWu6gud-eJy35NIA" }
    :javascript
      //google.load("jquery", "1.5.2");
      //google.load("jqueryui", "1.8.9");
      google.load("webfont", "1.0.18");
      google.setOnLoadCallback(function() {
        WebFont.load({
          google: {
            families: [ 'Philosopher' ]
          }});
      });
    = javascript_include_tag 'jquery-1.5.2.min', 'jquery-ui-timepicker-addon', 'jquery.simple-color.min', 'fullcalendar/fullcalendar.min', 'application'
      

    = csrf_meta_tag
  %body
    .wrapper
    
      .header
        = render 'layouts/notices'
      .columns
        .left
          .logo
            = link_to "Aumodoro", root_url
          %ul.links
            - if current_user
              - if current_user.current_pom
                %li
                  = render 'layouts/mini_timer', :object => current_user.current_pom
              - else
                %li
                  = link_to("Start", new_pom_path)
              %li{:class => @section_name == 'pomodoros' ? 'current':''}
                = link_to("Pomodoros", poms_path)
              %li{:class => @section_name == 'tasks' ? 'current':''}
                = link_to("Tasks", tasks_path)
              %li{:class => @section_name == 'projects' ? 'current':''}
                = link_to("Projects", projects_path)
              %li{:class => @section_name == 'contexts' ? 'current':''}
                = link_to("Contexts", contexts_path)
              %li{:class => @section_name == 'settings' ? 'current':''}
                = link_to("Settings", settings_path)
            - else
              %li
                = link_to("sign in", new_user_session_path)
              %li
                = link_to("sign up", new_user_registration_path)
            
          .bottom
            - if current_user
              = link_to("Sign Out", destroy_user_session_path)
        
        .right
          .title
            = yield :title
            .actions
              = yield :actions
          .content
            = yield
      
      .footer
        
